/* 全域樣式 */
body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(75, 75, 75);
    margin: 0;
    padding: 0;
    position: relative; /* 設置 body 的定位為相對定位 */
}

/* 頭部樣式 */
header {
    position: fixed; /* 將頭部設置為固定定位 */
    top: 0; /* 固定在網頁頂部 */
    left: 0;
    width: 100%; /* 寬度佔滿整個網頁 */
    height: 40px; /* 設置頭部高度為 40px */
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 40px;
}

/* 導航欄樣式 */
#markdown-nav {
    position: fixed;
    top: 40px; /* 與頭部固定區域下方 40px 的位置對齊 */
    left: 0;
    width: 200px;
    height: calc(100% - 40px); /* 高度減去頭部固定區域的高度 */
    overflow-y: auto;
    padding: 20px;
    background-color: #222222;
}

/* Markdown 內容顯示區域樣式 */
#markdown-content {
    margin-left: 260px;
    margin-top: 40px; /* 與頭部固定區域下方 40px 的位置對齊 */
}

/* 導航連結樣式 */
.nav-link {
    margin-bottom: 10px; /* 底邊距為 10px */
    color: azure; /* 設置文字顏色為 azure (淺藍色) */
    text-decoration: none; /* 移除連結底線 */
    font-weight: bold; /* 將字體設置為粗體 */
}

/* 滑鼠移動到左側標題上的特效 */
.nav-link:hover {
    color: rgb(231, 42, 17); /* 滑鼠移動時改變文字顏色為 RGB(231, 42, 17) 即深紅色 */
    background-color: azure; /* 滑鼠移動時改變背景色為 azure (淺藍色) */
    border-radius: 5px; /* 添加圓角效果 */
    padding: 5px; /* 增加內邊距為 5px */
}

/* 縮排樣式 */
.nav-link.level-2 {
    padding-left: 10px; /* 左邊距為 10px */
}
.nav-link.level-3 {
    padding-left: 20px; /* 左邊距為 20px */
}
.nav-link.level-4 {
    padding-left: 30px; /* 左邊距為 30px */
}
.nav-link.level-5 {
    padding-left: 40px; /* 左邊距為 40px */
}
.nav-link.level-6 {
    padding-left: 50px; /* 左邊距為 50px */
}
