/* 全域樣式 */
body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(75, 75, 75);
    margin: 0;
    padding: 0;
    position: relative; /* 設置 body 的定位為相對定位 */
}
/* 隱藏原生滾動條 */
body::-webkit-scrollbar {
    display: none;
}

/* 頭部樣式 */
header {
    font-weight: bold; /* 將文字設置為粗體 */
    position: fixed; /* 將頭部設置為固定定位 */
    top: 0; /* 固定在網頁頂部 */
    left: 0;
    width: 100%; /* 寬度佔滿整個網頁 */
    height: 40px; /* 設置頭部高度為 40px */
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 40px;
}
/* 導航欄按鈕樣式 */
#nav-toggle {
    font-weight: bold; /* 將文字設置為粗體 */
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* 左側導航欄樣式 */
#markdown-nav {
    position: fixed;
    top: 40px; /* 考慮到頭部高度 */
    left: -200px; /* 隱藏在左側 */
    overflow-y: auto; /* 將 overflow-y 設置為 auto，需要的時候自動開啟滾動條 */
    scrollbar-width: thin; /* 使用細的滾動條 */
    scrollbar-color: #888 transparent; /* 設置滾動條顏色 */
    width: 200px;
    height: 100%; /* 限制高度，觸發滾動條 */
    padding-top: 5px;
    background-color: #222222;
    transition: left 0.3s ease; /* 添加左側位置變化的過渡效果 */
}
/* 按鈕開啟導航欄時的動畫效果 */
#nav-toggle.active + #markdown-nav {
    left: 0;
}
/* 導航欄顯示狀態 */
#markdown-nav.active {
    left: 0;
}

/* Markdown 內容顯示區域樣式 */
#markdown-content {
    overflow-y:scroll;
    margin-left: 200px;
    margin-top: 40px; /* 與頭部固定區域下方 40px 的位置對齊 */
    padding-left: 10px;
    transition: margin-left 0.3s ease; /* 添加過渡效果 */
}
/* 自定義滾動條 */
#markdown-content::-webkit-scrollbar {
    width: 8px; /* 滾動條寬度 */
}

#markdown-content::-webkit-scrollbar-thumb {
    background-color: #cccccc; /* 滑塊顏色 */
    border-radius: 4px; /* 滑塊邊角半徑 */
}

#markdown-content::-webkit-scrollbar-track {
    background-color: transparent; /* 背景色 */
}
/* 導航欄收起時，Markdown 欄向左替補空間 */
#markdown-nav:not(.active) ~ #markdown-content {
    margin-left: 0; /* 收起導航欄時，將 margin-left 設置為 0 */
}

/* 導航連結樣式 */
.nav-link {
    margin-bottom: 10px; /* 底邊距為 10px */
    color: azure; /* 設置文字顏色為 azure (淺藍色) */
    text-decoration: none; /* 移除連結底線 */
    font-weight: bold; /* 將字體設置為粗體 */
}

/* 滑鼠移動到左側標題上的特效 */
.nav-link:hover {
    color: rgb(231, 42, 17); /* 滑鼠移動時改變文字顏色為 RGB(231, 42, 17) 即深紅色 */
    background-color: azure; /* 滑鼠移動時改變背景色為 azure (淺藍色) */
    border-radius: 5px; /* 添加圓角效果 */
    padding: 5px; /* 增加內邊距為 5px */
}

/* 縮排樣式 */
.nav-link.level-2 {
    padding-left: 10px; /* 左邊距為 10px */
}
.nav-link.level-3 {
    padding-left: 20px; /* 左邊距為 20px */
}
.nav-link.level-4 {
    padding-left: 30px; /* 左邊距為 30px */
}
.nav-link.level-5 {
    padding-left: 40px; /* 左邊距為 40px */
}
.nav-link.level-6 {
    padding-left: 50px; /* 左邊距為 50px */
}